# macOS
# https://github.com/github/gitignore/blob/master/Global/macOS.gitignore
.DS_Store

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - Visual Studio Code
# https://github.com/github/gitignore/blob/master/Global/VisualStudioCode.gitignore
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/react.code-snippets

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# error
*.error

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Tests
/coverage
/.nyc_output
*.lcov

# compiled output
/dist

# Dependency directories
node_modules/
jspm_packages/

# Yarn without Zero-install
# https://yarnpkg.com/getting-started/qa/#which-files-should-be-gitignored
.yarn/*
!.yarn/patches
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
.pnp.*

# tools
package-lock.json
yarn.lock

# personal development config
*vjudge.*

# dotenv environment variables file
#.env
#.env.test

# Diagnostic reports (https://nodejs.org/api/report.html)
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Bower dependency directory (https://bower.io/)
bower_components

# Compiled binary addons (https://nodejs.org/api/addons.html)
build/Release

# Grunt intermediate storage (https://gruntjs.com/creating-plugins#storing-task-files)
.grunt

# node-waf configuration
.lock-wscript

# Output of 'npm pack'
*.tgz

# Yarn Integrity file
.yarn-integrity

# Optional REPL history
.node_repl_history

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# parcel-bundler cache (https://parceljs.org/)
.cache

# Microbundle cache
.rpt2_cache/
.rts2_cache_cjs/
.rts2_cache_es/
.rts2_cache_umd/

# TypeScript v1 declaration files
typings/

# TypeScript cache
*.tsbuildinfo

# vuepress build output
.vuepress/dist

# Serverless directories
.serverless/

# FuseBox cache
.fusebox/

# DynamoDB Local files
.dynamodb/

# TernJS port file
.tern-port

# Next.js build output
.next

# Nuxt.js build / generate output
.nuxt
dist

